.authorization__button{
  background-color: #FFFFFF;
  height: 50px;
  margin-top: calc(216px - 35px);
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22/18);
  cursor: pointer;
  opacity: 1;
  transition: opacity .1s linear;
  color: #000;
}

.authorization__button:hover {
  opacity: .85;
}
