.profile__subtitle {
  min-width: 200px;
  margin: 9px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22/18);
  order: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .profile__subtitle {
    margin: 8px auto 0;
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: calc(17/14);
    max-width: 282px;
  }
}
