@import url("./vendor/normalize.css");

@import url("./vendor/fonts/fonts.css");

@import url("./blocks/page/page.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");

@import url("./blocks/profile/profile.css");
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url("./blocks/profile/__avatar-btn/profile__avatar-btn.css");
@import url("./blocks/profile/__avatar-image/profile__avatar-image.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__subtitile/profile__subtitle.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");

@import url("./blocks/cards/cards.css");
@import url("./blocks/cards/__list/cards__list.css");
@import url("./blocks/cards/__item/cards__item.css");
@import url("./blocks/cards/__delete-btn/cards__delete-btn.css");
@import url("./blocks/cards/__image/cards__image.css");
@import url("./blocks/cards/__description/cards__description.css");
@import url("./blocks/cards/__subtitle/cards__subtitle.css");
@import url("./blocks/cards/__like-container/cards__like-container.css");
@import url("./blocks/cards/__like-btn/cards__like-btn.css");
@import url("./blocks/cards/__like-btn/_active/cards__like-btn_active.css");
@import url("./blocks/cards/__like-counter/cards__like-counter.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__profile-edit/popup__profile-edit.css");
@import url("./blocks/popup/__input/popup__input-error.css");
@import url("./blocks/popup/__profile-edit/_type/popup__profile-edit_type_error.css");
@import url("./blocks/popup/__btn/popup__btn.css");
@import url("./blocks/popup/__btn/_inactive/popup__btn_inactive.css");
@import url("./blocks/popup/__close/popup__close.css");

@import url("./blocks/popup/_type/popup_type_open-image.css");
@import url("./blocks/popup/__image-container/popup__image-container.css");
@import url("./blocks/popup/__figure/popup__figure.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__image-title/popup__image-title.css");
@import url("./blocks/popup/__form/_type/popup__form_type_confirm.css");

@import url('./blocks/popup/__container/_type/popup__container_type_change-avatar.css');
@import url('./blocks/popup/__btn/_change-avatar/popup__btn_change-avatar.css');

@import url('./blocks/popup/__container/_type/popup__container_type_confirm-deletion.css');
@import url('./blocks/popup/__btn/_confirm-deletion/popup__btn_confirm-deletion.css');

@import url('./blocks/authorization/authorization.css');
@import url('./blocks/authorization/__title/authorization__title.css');
@import url('./blocks/authorization/__form/authorization__form.css');
@import url('./blocks/authorization/__input/authorization__input.css');
@import url('./blocks//authorization/__button/authorization__button.css');
@import url('./blocks/authorization/__login-in/authorization__login-in.css');
@import url('./blocks/authorization/__entry-link/authorization__entry-link.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__container/header__container.css');
@import url('./blocks/header/__user/header__user.css');
@import url('./blocks/header/__output-btn/header__output-btn.css');
@import url('./blocks/popup/__registr-container/popup__registr-container.css');
@import url('./blocks/popup/__status-image/popup__status-image.css');
@import url('./blocks/popup/__status-title/popup__status-title.css');
@import url('./blocks/authorization/__input-error/authorization__input-error.css');
@import url('./blocks/authorization/__button/_type/authorization__button_type_inactive.css');
